asttokens==2.2.1
attrs==22.2.0
Automat==22.10.0
backcall==0.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
colorama==0.4.6
comm==0.1.2
constantly==15.1.0
cryptography==44.0.3
cssselect==1.2.0
debugpy==1.6.4
decorator==5.1.1
entrypoints==0.4
executing==1.2.0
filelock==3.9.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipykernel==6.19.2
ipython==8.7.0
itemadapter==0.7.0
itemloaders==1.0.6
jedi==0.18.2
jmespath==1.0.1
jupyter_client==7.4.8
jupyter_core==5.1.0
lxml==4.9.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
packaging==23.0
parsel==1.7.0
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.36
Protego==0.2.1
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.6
Pygments==2.13.0
pyOpenSSL==23.0.0
python-dateutil==2.8.2
pywin32==305
pyzmq==24.0.1
queuelib==1.6.2
requests==2.28.2
requests-file==1.5.1
Scrapy==2.15.2
scrapy-splash==0.9.0
service-identity==21.1.0
six==1.16.0
stack-data==0.6.2
tldextract==3.4.0
tornado==6.2
traitlets==5.7.0
Twisted==22.10.0
twisted-iocpsupport==1.0.2
typing_extensions==4.4.0
urllib3==1.26.20
w3lib==2.1.1
wcwidth==0.2.5
zope.interface==5.5.2
